/* Aqui começa página HOME */

@media (min-width: 768px) {
    .navbar-nav>li {
       float: left;
   }
   
   #navegacao{
     background-color: #A9A9A9;
   }
   
   #img_logo{
     margin: 10px 15px;
   }
   
   #txtProcurar{
     width:230px;
     border-radius: 10px;
     margin: 15px 0px 0px 300px;
   
   
   }
   
   #header_titulo{
     margin:-35px 0px 5px 250px;
   }